# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int - Integer types are whole numbers

In [1]:
num = 4
print(num)

4

##### Assinging float - Float types are decimals

In [2]:
afloat = 4.0
print(type(afloat))

<class 'float'>

#### Performing Calculations on ints and floats

##### Addition (+)

In [5]:
total = 6 + 10
print(total)

nul = 5
num2 = 6

total = nul + num2
print(total)

total = 5 + 10.0
print(total)

total += 5
print(total)

16
11
15.0
20.0

##### Subtraction (-)

In [9]:
diff = 10 - 5
print(diff)

diff = 10 - 5.0
print(diff)

diff -= 2
print(diff)

5
5.0
3.0

##### Multiplication (*)

In [11]:
prod = 10 * 2.0
print(prod)

prod *= 3
print(prod)

20.0
60.0

##### Division (/)

In [15]:
quot = 15 / 3
print(quot)

quot /= 5
print(quot)

5.0
1.0

##### Floor Division (//) - Normal division but returns the largest possible integer

In [17]:
quot = 19 // 2
print(quot)

9.0

##### Modulo (%) - Returns the remainder of division

In [19]:
remainder = 10 % 2
print(remainder)

remainder = 10 % 3
print(remainder)

0
1

##### Exponential (**)

In [5]:
square = 5.0**2
print(square)

sqroot = 25**.5
print(sqroot)

cbroot = 1000**.33
print(cbroot)

25.0
5.0
9.772372209558108

### String Input-Output

##### String Assignment

In [25]:
name = "Mitchell's"
print(name)

last = 'Hamm\'s'
print(last)

Mitchell's
Hamm's

##### print() <br>
<p>Don't forget about end=' '</p>

In [28]:
print("this is a line,", end=' ')
print("this is not another line")

this is a line, this is not another line

##### String Concatenation

In [31]:
aword = 'hello'
bword= 'there'

total = aword + ' ' + bword
print(total)

repeat = 'hello' * 3
print(repeat)

hello there
hellohellohello

##### Type Conversion

In [36]:
string_num = '123'
print(type(string_num))
num = int(string_num)
print(type(num))
afloat = float(string_num)
print(type(string_num))

<class 'str'>
<class 'int'>
<class 'str'>

##### input()

In [3]:
name = input("What is your name?")
print("Hello " + name)
age = int(input("How old are you?"))
print(type(age))
print("You are " + str(age) + " That's awesome!")

Hello mitchell
<class 'int'>
You are 27 That's awesome!

##### format()

In [45]:
age  = input("How old are you? ")
name = 'Mitchell'

# result = "Wow you are {}, that's awesome!".format(age, name)
# print(result)

result = f"Wow {name}, you're {age}, that's awesome!"
print(result)

Wow Mitchell, you're 123, that's awesome!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [46]:
color = input("What color is your car")
year = input("what year is your car")
make = input("What is the make of your car?")
model = input("What is the model of your car?")

result = f"Your car is a {color}, {year}, {make}, {model}"
print(result)

Your car is a blue 2012 honda civic

### If Statements

In [51]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

name= "jake"

if name == "Mitchell":
    print("Don't let that guy in... he is too cool")
elif name == "jake":
    print("Do a jumping jack!")
else:
    print("that guy is also cool... but not THAT cool")

print("no longer in the if but stilllll runnnning")

Do a jumping jack!
no longer in the if but stilllll runnnning

##### 'is' keyword - Checks if the value refers to the same object in memory, not if they equal each other

In [68]:
num = ["123", "123", "123"]
c = ["123", "123", "123"]

if num is c:
    print("Yes")
else:
    print("No")

No

##### 'in' keyword = used to check if a value is present in a sequence

In [62]:
name = "Mitchell"

if "i" in  name:
    print("i in name")
else:
    print("i not in name")

i in name

##### 'not in' keyword'

In [63]:
name = "Mtchell"

if "i" not in  name:
    print("i not in name")
else:
    print("i in name")

i not in name

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [65]:
name = input("What is your name?")

if "p" in name:
    print("The letter p is in your name")
else:
    print("The letter p is not in your name")

The letter p is in your name

## Using 'and'/'or' with If Statements

In [69]:
# Truth Tree:
# T and F = F
# T and T = T
# T or F = T
# F or T = T
# F or F = F
mitchell = "pepporoni"
christian = "supreme"

if mitchell == "pepporoni" or christian == "cheese":
    print("All is right")
else:
    print("something's up")

All is right

### Elif Statements

In [ ]:
# see above

### Else Statements

In [ ]:
# see above

### For Loops

In [75]:
name = "Mitchell"

count = 1 

for letter in name:
    print(letter)
    # alot more logic
    count += 1

print("\n" + str(count))

M
i
t
c
h
e
l
l

9

##### Continue Statement

In [76]:
# will continue to next iteration
name = "Mitchell"

count = 0 

for letter in name:
    if letter == "l":
      continue
    print(letter)

M
i
t
c
h
e

##### Break Statement

In [79]:
# will break out of current loop
name = "Mitchell"

count = 0 

for letter in name:
    if letter == "c":
      break
    print(letter)

M
i
t

##### Pass Statement

In [80]:
# mostly used as a placeholder, and will continue on same iteration
for letter in name:
    pass

print(1 + 1)


def thisfunc():
    pass

def thatfunc():
    pass

def otherfunc():
    pass

2

##### Double For Loops

In [82]:
names = ["Mitchell", "Oakland", "Jake", "Faith", "Britt"]


for name in names:
    print(name)
    for letter in name:
        print(letter)

Mitchell
M
i
t
c
h
e
l
l
Oakland
O
a
k
l
a
n
d
Jake
J
a
k
e
Faith
F
a
i
t
h
Britt
B
r
i
t
t

### While Loops

In [86]:
num = 0

while num <= 100:
    print(num)
    num += 20

0
20
40
60
80
100

##### Looping 'While True'

In [88]:
num = 0

while True:
    num += 1 
    if num >= 10: 
       break
    print(num)

1
2
3
4
5
6
7
8
9

##### While & For Loops Used Together

In [91]:
christian = "christian"

count = 0

while christian == "christian":
    print("Wooooow he's so cooool, let's spell his name out")
    for letter in christian:
        print(letter.upper())

    count += 1
    if count >= 5:
      christian = "wow he turned on us, that's nbot the real christian"

### Built-In Functions

##### range()

In [102]:
this_range = range(10)

print(this_range)

for num in range(3, 13, 3):
    print(num)

range(0, 10)
3
6
9
12

##### len()

In [105]:
# tells how many elements are included in an iterable data type
name = "Mitchell"
print(len(name))

8

##### help() -  used to display the documentation of modules, functions, classes, keywords, etc.

In [107]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance() - checks if the object is the type

In [111]:
age = 12 

print(isinstance(age, int))

if isinstance(age, int):
    age+=1
    print("Happy Bday " + str(age))

True
Happy Bday13

##### abs() - returns the absolute value

In [113]:
num = -5

print(abs(num))

5

### Try and Except Blocks
#### try - lets you test a block of code for errors
#### except - lets you handle the error

In [115]:
try:
  magic_number = 3
  guess = int(input("Guess a nummber:"))
  if guess == magic_number:
      print("Wooooow you did it!")
  else:
      print("WRONG")
except:
   print("Invalid guess, please use integers only")

Invalid guess, please use integers only

### Lists

##### Declaring Lists

In [ ]:
stus = ["justin", "Jennifer", "Deven", "Mitchell"]

print(type(stus))

##### Indexing a List

In [118]:
#     0      1      2           3         4      
stus = ["justin", "Jennifer", "Deven", "Mitchell"]
#          -4          -3          -2          -1
this_guy = stus[-1]
print(this_guy)

Mitchell

##### .append()

In [119]:
stus = ["justin", "Jennifer", "Deven", "Mitchell"]

stus.append('marcos')
print(stus)

['justin', 'Jennifer', 'Deven', 'Mitchell', 'marcos']

##### .insert()

In [120]:
stus = ["justin", "Jennifer", "Deven", "Mitchell"]

stus.insert(1, "Me")
print(stus)

['justin', 'Me', 'Jennifer', 'Deven', 'Mitchell']

##### .pop()

In [ ]:
stus = ["justin", "Jennifer", "Deven", "Mitchell"]
popped = stus.pop()
print(popped)
print(stus)


##### .remove() - removes element in a list, does not remove duplicates

In [121]:
stus = ["justin", "Jennifer", "Deven", "Mitchell"]
print(stus)

stus.remove("Mitchell")

print(stus)

['justin', 'Jennifer', 'Deven', 'Mitchell']
['justin', 'Jennifer', 'Deven']

##### del()

In [122]:
del(stus[1])
print(stus)

['justin', 'Deven']

##### Concatenating Two Lists

In [124]:
l1 = ["Christian", "Dylan"]
l2 = ["Sam", "Omar"]

larger_list = l1 + l2
print(larger_list)

['Christian', 'Dylan', 'Sam', 'Omar']

##### Lists Within Lists

In [126]:
roster = ["Jake", "Britt", "Mitchell", "Oakland"]
print(roster)

print(roster[0][1])

[['Christian', 'Dylan'], 'Jake', 'Britt', 'Mitchell', 'Oakland']
Dylan

##### Looping Through Lists

In [128]:
for student in roster:
    print(student)

['Christian', 'Dylan']
Jake
Britt
Mitchell
Oakland

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [11]:
numbers = list(range(1001))

for number in numbers:
  number**=3
  if number <= 1000:
    print(number)
  else:
    break

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [12]:
age = int(input("Please enter an age:"))

if age < 18:
  print("kids")
elif age >= 18 and age <= 65:
  print("adults")
else:
  print("seniors")

kids